.app-header{
    width: 100%;
    height: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    line-height: .5rem;
    background: #282828;
    color: #999;
}
.app-header .header-span{
    float: left;
    width: .48rem;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #222;
    box-shadow: 1px 0 1px #363636;
}
.app-header .header-title{
    display: inline-block;
    padding: 0 .14rem;
    font-size: 14px;
    color: #efefef;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.app-header .header-right{
    float: right;
    font-size: 14px;
    height: 100%;
}
.app-header .header-right i{
    display: inline-block;
    padding: 0 .06rem;
}
.app-header .header-right .icon-jiantouxia{
    font-size: .1rem;
}
.app-header .header-right .icon-wode{
    display:inline-block;
    padding: 0 .2rem;
}