.home-maintop{
    width: 100%;
    box-sizing: border-box;
    padding: .2rem .15rem 0 .15rem;
}
.home-maintop .main-item{
    width: 100%;
    margin-bottom: .17rem;
    background: #fff;
}
.home-maintop .main-item img{
    width: 100%;
}
.home-maintop .main-item .main-title{
    padding: .15rem .1rem;
}
.home-maintop .main-item .main-title .main-title-l{
    float: left;
}
.home-maintop .main-item .main-title .main-title-l span{
    font-size: 8px;
    color: #9a9a9a;
}
.home-maintop .main-item .main-title .main-title-f{
    float: right;
    color: #f78360;
    font-size: .18rem;
}
.more-button {
    width: 1.6rem;
    height: .3rem;
    border: 1px solid #aaa;
    border-radius: 15px;
    margin: .1rem auto .3rem;
    text-align: center;
    line-height: .3rem;
    font-size: .12rem;
    color: #616161;
    cursor: pointer;
}
.home-maintop .main-item .bmain-title{
    padding: .1rem;
}
.home-maintop .main-item .bmain-title .main-title-t{
    float: left;
    font-size: .14rem;
}
.home-maintop .main-item .bmain-title .main-title-b{
    float: right;
    color: #f78360;
}
.dividing-line{
    position: relative;
    margin-bottom: .3rem;
    border-bottom: 1px solid #a8a8a8;
}
.upcoming {
    width: .65rem;
    height: .2rem;
    margin: 0 auto;
    margin-bottom: -.1rem;
    border-radius: 5px;
    font-size: .10rem;
    line-height: .2rem;
    text-align: center;
    color: #eee;
    background-color: #a7a7a7;
}
#home{
    background: #e4e4e4;
}